*{
    box-sizing: border-box;
}
body{
    background-color: #8e44ad;
    color: #fff;
    font-family: serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}